@import "tailwind";
@import "typography";

h1 {
  font-size: 6vw;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}

h1, h2, h3 {
  font-family: 'STARWARS', sans-serif;
}

html, body {
  margin: 0;
  //background-color: black;
  color: whitesmoke;
  @apply font-sans;
}

.animate-appear {
  opacity:0;
  animation: appear 700ms ease-in forwards;
}

@keyframes appear {
  from {opacity:0;}
  to {opacity:1;}
}
