$shadow-color: #fafafa;
$button_spacing: 25px;

.container {
  display: inline-block;
  padding: 12px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.2rem;
  background-color: black;
  color: $shadow-color;
  letter-spacing: 0.4rem;
  text-align: center;
  border: 2px solid $shadow-color;
  padding: $button_spacing;
  transition: 1s ease-out;
  border-radius: 200px;
  width: 100%;
}

.smallButton {
  display: inline-block;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 0.9rem;
  background-color: black;
  color: $shadow-color;
  letter-spacing: 0.25rem;
  text-align: center;
  border: 2px solid $shadow-color;
  padding: ($button_spacing / 1.2);
  transition: 1s ease-out;
  border-radius: 200px;
  width: 100%;
}

.small {
  font-size: 1rem;
}

$blur: 25px;
$spread: 0;

.button:hover {
  box-shadow: 0 5px $blur $spread $shadow-color inset,
  0 5px $blur $spread $shadow-color,
  0 -5px $blur $spread $shadow-color inset,
  0 -5px $blur $spread $shadow-color;
  text-shadow: 1px 1px 5px $shadow-color;
}

$blur: 21px;
.smallButton:hover {
  box-shadow: 0 5px $blur $spread $shadow-color inset,
  0 5px $blur $spread $shadow-color,
  0 -5px $blur $spread $shadow-color inset,
  0 -5px $blur $spread $shadow-color;
  text-shadow: 1px 1px 5px $shadow-color;
}
