@import "../../styles/typography";

$menu_link_line_height: 6px;
$menu_link_line_color: white;
$menu_link_active_line_color: darken(white, 25);

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.header {
  @apply mb-64 bg-black bg-opacity-75;
  &:after {
    content: '';
    top: -25rem;
    left: -25rem;
    z-index: -1;
    position: absolute;
    height: 50rem;
    width: 50rem;
    opacity: 0.75;
    border-radius: 50% 50%;
    box-shadow: 0px 80px 86px -1px rgba(52, 52, 52, 1);
    background:  url(https://i.stack.imgur.com/3SLqF.jpg) 0/auto 100%;
    border-color: black;
    box-shadow: -50px -50px 80px 8px #000 inset, 0 0 20px 2px #000;
    animation: earthSpin 60s linear infinite;
  }
  &:before {
    background-color: black;
    content: '';
    top: -25rem;
    left: -25rem;
    z-index: -1;
    position: absolute;
    height: 50rem;
    width: 50rem;
    border-radius: 50% 50%;
    box-shadow: 0px 80px 86px -1px rgba(52, 52, 52, 1);
  }

  .logo {
    @apply w-64;
  }

  .logoTitle {
    @apply text-lg p-0 uppercase leading-none font-light -mt-4 mb-4
  }

  nav {
    @apply flex items-start mt-12;
    a {
      @apply text-lg mx-4 relative uppercase font-extralight;
      transition: 2s ease-in all;
    }

    a:after {
      transition: 500ms ease-in opacity;
      opacity: 0;
      content: '';
      background-color: $menu_link_line_color;
      position: absolute;
      height: $menu_link_line_height;
      width: 100%;
      z-index: 100;
      bottom: -$menu_link_line_height;
      left: 0;
    }

    a:hover:after {

      opacity: 1;
    }

    :global {
      a.active:after {
        content: '';
        background-color: $menu_link_active_line_color;
        position: absolute;
        height: $menu_link_line_height;
        width: 100%;
        z-index: 100;
        bottom: -$menu_link_line_height;
        left: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes earthSpin {
  to {
    background-position:200% 0;
  }
}
