$menu-btn-top: 2rem;
$menu-btn-right: 2rem;

$menu-btn-width: 5rem;
$menu-btn-height: 5rem;

.mobileMenu {
  .menuCheckbox {
    display: none;
  }

  .menuButton {
    background-color: whitesmoke;
    height: $menu-btn-height;
    width: $menu-btn-width;
    position: fixed;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(black, .1);
    text-align: center;
    cursor: pointer;
    top: $menu-btn-top;
    right: $menu-btn-right;
  }

  .background {
    height: $menu-btn-height;
    width: $menu-btn-width;
    border-radius: 50%;
    position: fixed;
    top: $menu-btn-top;
    right: $menu-btn-right;
    background-image: radial-gradient(black, #444444);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 220%;
      transition: all .4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    //&:hover,
    //&:active {
    //  background-position: 100%;
    //  color: whitesmoke;
    //  transform: translateX(1rem);
    //}
  }


  .menuCheckbox:checked ~ .background {
    transform: scale(100);
  }

  .menuCheckbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }


  //ICON
  .menuIcon {
    position: relative;
    margin-top: 50%;

    &,
    &:before,
    &:after {
      width: 3rem;
      height: 2px;
      background-color: gray;
      display: inline-block;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &:before { top: -.8rem; }
    &:after { top: .8rem; }
  }

  .menuButton:hover .menuIcon:before {
    top: -1rem;
  }

  .menuButton:hover .menuIcon:after {
    top: 1rem;
  }

  .menuCheckbox:checked + .menuButton .menuIcon {
    background-color: transparent;
  }

  .menuCheckbox:checked + .menuButton .menuIcon:before {
    top: 0;
    transform: rotate(135deg);
  }

  .menuCheckbox:checked + .menuButton .menuIcon:after {
    top: 0;
    transform: rotate(-135deg);
  }
}











@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}

.header {
  height: 85vh;

  background-size: cover;
  background-position: top;
  position: relative;


  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo_box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text_box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
