.flipCard {
  perspective: 120rem;
  -moz-perspective: 120rem;
  position: relative;
  height: 24rem;
  width: 22rem;

  section {
    @apply border-8 rounded-2xl flex flex-col;
    transition: all 0.7s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    height: 24rem;
    width: 22rem;
    -webkit-box-shadow: 5px 5px 17px 0px rgba(250, 255, 254, 0.5);
    box-shadow: 0px 0px 12px 8px rgba(250, 255, 254, 0.5);

    background-color: rgba(24, 24, 24, 0.7);
    overflow: hidden;
  }

  & > section:last-of-type {
    transform: rotateY(180deg);
  }

  &:hover > section:first-of-type {
    transform: rotateY(-180deg);
  }

  &:hover > section:last-of-type {
    transform: rotateY(0);
  }

  //& > section:first-of-type {
  //  transform: rotateY(-180deg);
  //}
  //
  //& > section:last-of-type {
  //  transform: rotateY(0);
  //}
}
